body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
}


.btn{
    border-radius: 0;
}
.btn-outline-secondary:hover{
    background: #333333;
}
.btn-dark{
    background: #202020;
}
.btn-dark:hover{
    background: #333333;
}

/* 1 navBar--- */
.bg-custom{
    background: #202020;
}


nav li{
    padding-left: 10px ;
}

@media only screen and (min-width:992px){
    .navSpacing{
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .navBorder{
        border-right: white 1px solid;
        height: 1.5rem;
        align-self: center;
        opacity: .5;
    }

}

#navLogo{
    clip-path: circle(50% at 50% 50%);
    height: 50px;
}



/* 2 header--- */
#header{
    background-image: url('https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 3 flicity--- */
#cell1,
#cell2,
#cell3,
#cell4,
#cell5{
    background-size: cover;
    background-repeat: no-repeat; 
}

#cell1{
    background-image: url('../img/anshu-a-7n5_0j7b7Hg-unsplash.jpg');
}
#cell2{
    background-image: url('../img/josh-sorenson-FvKpUZCbZ-s-unsplash.jpg');
}  
#cell3{
    background-image: url('../img/supply-USghnHKesaM-unsplash.jpg');
}
#cell4{
    background-image: url('../img/shari-sirotnak-oM5YoMhTf8E-unsplash.jpg');
}
#cell5{
    background-image: url('../img/sinval-carvalho-WbEibGKHBMY-unsplash.jpg');
}

.carousel-cell {
    width: 50%;
    height: 400px;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    flex-direction: column;

  }

  .overlay{
    background: rgb(0, 0, 0, 0.2);
    padding: 0 1rem;
    border-radius: 2%;
    transition: background .2s, padding-bottom .2s ;
  }

  .overlay:hover{
    background: rgb(0, 0, 0, 0.4);
    padding-bottom: 3px;
  }


      /* cell number */
  /* .carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  } */


  @media screen and ( max-width: 992px ) {
    .carousel-cell{
        height: 275px;
        width: 60%;
    }
  }
  

  @media screen and ( max-width: 768px ) {
    .carousel-cell{
        height: 250px;
        width: 65%;
    }
  }
  

/* 4 Reviews--- */

.iconArrow{
    margin:auto;
}

.poly{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    height: 250px;  
    display: block;
    margin-right: auto;
}
.poly2{
    clip-path: polygon(25% 0%, 96% 0, 96% 100%, 25% 100%, 0% 50%);
    height: 250px;  
    display: block;
    margin-left: auto;
}

#imgback{
    background-image: url('https://images.unsplash.com/photo-1498855926480-d98e83099315?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 70vh;
}

.imgover{
    background-color: rgb(0,0,0,0.2);
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* 5 catagory--- */ 
.catagory img{
    width: 100%;
    object-fit: cover;
}
.crop1 img{  
    height: 431px; 
}

.crop img {
    height: 200px;
   }

   .bx-shadow{
    -webkit-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.24); 
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.2);
    transition: box-shadow .5s ease ;
   }

   .bx-shadow:hover{
    -webkit-box-shadow: 1px 5px 5px 4px rgba(0,0,0,0.27); 
    box-shadow: 1px 5px 5px 4px rgba(0,0,0,0.27);
   }

/* 6 homepage bottom image--- */
  #bottomImg{
    background-image: url('../img/anshu-a-7n5_0j7b7Hg-unsplash.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
/* 
  .blockquote{
    background-color: rgb(0, 0, 0,.1);
    color: white;
  } */

 /* 7 Subscribe--- */
.sub{
    height: 30vh;
}


/* not working yet */
@media only screen and (max-width:768px){
    .poly{
        height: 150px;
    }
    .poly2{
        height: 150px;
    }
}


/* 8 shop--- */
.shop img{
    width: 100%;
    height: 200px;
    object-fit: cover;  
}

.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
}


/* 9 about image---*/
#aboutBackground{
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.aboutOverlay{
    background-color:white;
    opacity: .95;
}



/* 10 cart--- */

.card-bg{
    background: #eee;
}

    .text-grey {
        color: #696868;
    }

   
    .gift-card:focus {
        box-shadow: none
    }
    
    
    .amount i {
        font-size: 11px
    }

    .size span {
        font-size: 11px
    }
    
    .color span {
        font-size: 11px
    }
    

/* 11 footer--- */
.footer{
    background-color: rgb(231, 231, 231);
    background-image: linear-gradient(to bottom, rgb(44, 44, 44), rgb(179, 177, 177), white);
    height: 30vh;
    border-top: black 2px solid;
    color: rgb(226, 225, 225);
}

.footer li a{
    color: black;
    text-decoration: none;
}

.footer li a:hover{
    font-size: 1.2rem;
}

.footer a i:hover{
    font-size: 1.5rem;
}

.footerIcon{
    clip-path: circle(50% at 50% 50%);
    height: 150px;
}

.footCompName{
    color: black;
}

.hrStyle{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
